.container {
    margin: 0 auto;
    padding: 0 20rem;
    @include tablets {
        padding: 0 10rem;
    }
    @include desktop {
        padding: 0 20rem;
    }
    @include desktopMax {
        max-width: 1280rem;
    }
}
