doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Hello world
    link(href=require('./static/scss/main.scss') rel='stylesheet')
  body
    .wrapper
        include ./pug/layout/header.pug
        include ./pug/layout/main.pug
        include ./pug/layout/footer.pug
    script(src=require('./main.js'))